BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
BinPackParameters: true
ColumnLimit: 100
AlignTrailingComments: true
BreakBeforeBraces: Custom
BraceWrapping: 
    BeforeElse: true
SpaceBeforeParens: Always
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true