BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
BinPackParameters: true
ColumnLimit: 100
AlignTrailingComments: true
BreakBeforeBraces: Custom
BraceWrapping: 
    BeforeElse: true
    AfterFunction: false
    AfterStruct: false
SpaceBeforeParens: ControlStatements
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlwaysBreakTemplateDeclarations: true
AlwaysBreakAfterReturnType: None
MaxEmptyLinesToKeep: 0
SpaceAfterCStyleCast: true